{% set title | trim %}
  {% block title %}
    {{ SITENAME }}
  {% endblock title %}
{% endset %}
{% set header %}
  {% include "fragments/header.html" %}
{% endset %}
{% set default_head %}
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="Keith Maxwell's blog.">
  <meta name="keywords" content="blog, computers, Linux, Incus, Alpine Linux">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/main.css">
  <link rel="icon" href="{{ SITEURL }}/favicon.ico">
  <script src="{{ SITEURL }}/copy.js" async></script>
{% endset %}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head -%}
      {{ default_head }}
    {%- endblock head %}
  </head>
  <body itemscope itemtype="http://schema.org/Blog">
    {{ header | indent(4) }}
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <p>
        Written by <a href="https://github.com/maxwell-k">Keith Maxwell</a>.
      </p>
    </footer>
  </body>
</html>
{# Copyright (c) 2016 Eemil Väisänen, 2024 Keith Maxwell #}
{# SPDX-License-Identifier: MIT #}
