{% set title | trim %}
  {% block title %}
    {{ SITENAME }}
  {% endblock title %}
{% endset %}
{% set header %}
  {% set content | trim %}
    {% if SITEURL.endswith('staging') %}
      <a href="{{ SITEURL }}">Staging Environment</a>
    {% elif SITEURL %}
      <a href="{{ SITEURL }}">{{ SITENAME }}</a>
    {% else %}
      {{ SITENAME }}
    {% endif %}
  {% endset %}
  <header>
    {% if SITELOGO %}
      <a href="{{ SITEURL }}">
        {# djlint:off H006 #}
        <img src="{{ SITELOGO }}" alt="{{ SITENAME }}" title="{{ SITENAME }}">
        {# djlint:on #}
      </a>
    {% endif %}
    <p itemprop="name">{{ content }}</p>
  </header>
{% endset %}
{% set style %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/main.css">
{% endset %}
{# djlint:off H016,H030,H031 #}
{# The default_head below confuses djlint #}
{% set default_head %}
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="Keith Maxwell's blog.">
  <meta name="keywords" content="blog, computers, Linux, Incus, Alpine Linux">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  {{ style }}
  <link rel="icon" href="{{ SITEURL }}/favicon.ico">
  <link rel="preload"
        as="font"
        href="{{ SITEURL }}/nunito-v32-latin-900.woff2"
        type="font/woff2"
        crossorigin="anonymous">
  <link rel="preload"
        as="font"
        href="{{ SITEURL }}/source-serif-4-v14-latin-regular.woff2"
        type="font/woff2"
        crossorigin="anonymous">
  <link rel="preload"
        as="font"
        href="{{ SITEURL }}/source-serif-4-v14-latin-700.woff2"
        type="font/woff2"
        crossorigin="anonymous">
  <link rel="preload"
        as="font"
        href="{{ SITEURL }}/DejaVuSansMono.woff2"
        type="font/woff2"
        crossorigin="anonymous">
  <script src="{{ SITEURL }}/copy.js" async></script>
{% endset %}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head -%}
      {{ default_head }}
    {%- endblock head %}
  </head>
  <body itemscope itemtype="http://schema.org/Blog">
    {{ header | trim | indent(2) }}
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <p>
        © <a href="https://maxwell-k.github.io/links/">Keith Maxwell</a> MMXXVI
      </p>
    </footer>
  </body>
</html>
{# Copyright (c) 2016 Eemil Väisänen, 2024 Keith Maxwell #}
{# SPDX-License-Identifier: MIT #}
