article {
  margin: 3rem 0;
}

body > header a,
h1 a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

blockquote {
  display: block;
  margin: 1rem auto;
}

hr {
  width: 50%;
  height: 0;
  border: 0;
  margin: 2em auto;
}

body > header p {
  margin-bottom: 0;
  margin-top: 0;
}

article > footer a {
  border-radius: 0.3em;
  border: none;
  display: inline-block;
  padding: 0.4em 0.75em;
  margin-top: 0.4rem;
}

div.highlight {
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0;
  overflow: auto;
}

div.highlight pre {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
ol {
  padding-left: 2rem;
}

div.highlight button {
  /* purgecss ignore current */
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0.2em;
  margin-bottom: 0.5em;

  opacity: 0;
}

div.highlight button:focus,
div.highlight:hover button {
  /* purgecss ignore current */
  opacity: 1;
}

/* src/base.css
 * Copyright (c) 2016 Eemil Väisänen, 2024 Keith Maxwell
 * SPDX-License-Identifier: MIT */
