/* font-face {{{1 */

@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("nunito-v32-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 400;
  src: url("source-serif-4-v14-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 700;
  src: url("source-serif-4-v14-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DejaVu Sans Mono";
  src: url("DejaVuSansMono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* font-family {{{1 */

body {
  font-family: "Source Serif 4", serif;
}

body > header p, /* navigation bar */
h1, /* article heading */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

pre,
code {
  font-family: "DejaVu Sans Mono", monospace;
}

div.highlight button {
  /* purgecss ignore current */
  font-family: "DejaVu Sans Mono", monospace;
}

/* }}}1 */

body {
  line-height: 1.3;
}

h1 {
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.93rem;
}

p,
ol,
ul,
dl {
  line-height: 1.58;
}

div.highlight,
p,
ol,
ul,
dl {
  margin-bottom: 1em;
}

ul {
  list-style-type: disc;
}

/* tags */
article > footer a {
  font-size: 0.8em;
}

body > header p {
  font-size: 1.75rem;
  font-weight: 700;
}

blockquote {
  font-style: italic;
}

th {
  font-weight: bold;
}

/* src/typography.css
 * Copyright (c) 2016 Eemil Väisänen, 2024 Keith Maxwell
 * SPDX-License-Identifier: MIT */

/* vim: set foldmethod=marker : */
